In [2]:
import pandas as pd

In [1]:
orders = pd.read_csv('shoefly.csv')
#print(orders[0:5])
emails = orders.email
#print(emails)
frances_palmer = orders[(orders.first_name == 'Frances')]
#print(frances_palmer)
comfy_shoes = orders[orders.shoe_type.isin (['clogs', 'boots', 'ballet flats'])]
print(comfy_shoes)

NameError: name 'pd' is not defined

month           March
clinic_east        81
clinic_north       96
clinic_south       65
clinic_west        96
Name: 2, dtype: object
##################################
<class 'pandas.core.series.Series'>

   month  clinic_east  clinic_north  clinic_south  clinic_west
3  April           80            80            54          180
4    May           51            54            54          154
5   June          112           109            79          129
##################################
<class 'pandas.core.frame.DataFrame'>

     month  clinic_east  clinic_north  clinic_south  clinic_west
0  January          100           100            23          100
###################################
<class 'pandas.core.frame.DataFrame'>

   month  clinic_east  clinic_north  clinic_south  clinic_west
2  March           81            96            65           96
3  April           80            80            54          180
###################################
<class 'pandas.core.frame.DataFrame'>

      month  clinic_east  clinic_north  clinic_south  clinic_west
0   January          100           100            23          100
1  February           51            45           145           45
2     March           81            96            65           96
###################################
<class 'pandas.core.frame.DataFrame'>

      month  clinic_east  clinic_north  clinic_south  clinic_west
0  February           51            45           145           45
1     April           80            80            54          180
2      June          112           109            79          129
###################################
None

In [39]:
print('')
print('###################################')
print('')

###################################

In [40]:
print('')
print('###################################')
print('')

###################################